body {
    font-family: Arial, sans-serif;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

#container {
    max-width: 800px; 
    width: 100%;
    padding: 15px;
    box-sizing: border-box;

    box-shadow:
        0 0 0 4px #b40303,  
        0 0 0 8px #af0808,  
        0 0 0 16px #770101;  
}

h1#title {
    color: rgb(168, 22, 22);
    text-decoration: underline;
    font-size: 1.6em;
    text-align: left;
    margin-bottom: 15px;
}

#slideshow-container {
    text-align: center;
    margin-bottom: 15px;
}

#photoDisplay {
    max-width: 60%;
    max-height: 400px;
    height: auto;
    cursor: pointer;
    border: 8px double black; 
    display: block;
    margin: 0 auto;
}


#controls-container {
    display: flex;
    flex-direction: column; 
    gap: 5px;
}

.box {
    border: 1.5px solid black;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
}

fieldset {
    padding: 8px;
}

#statusMessage {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

label {
    font-weight: bold;
    margin-right: 5px;
    white-space: nowrap;
}

button {
    margin: 3px;
    padding: 4px 8px;
    font-size: 0.9em;
    height: auto;
    background-color: rgb(238, 236, 236);
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); /* shadow effect */
    transition: all 0.2s ease-in-out;
}

button:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
}


input[type="text"], input[type="number"] {
    padding: 4px;
    font-size: 0.9em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.row label {
    flex: 0 0 auto;
}

.row input {
    flex: 1;
    min-width: 60px;
}
